//####################
//#Singularity Params#
//####################
singularity.enabled = true
singularity.runOptions = "-e -C -B /panfs/roc/groups/7/mdh/shared/sc2:/panfs/roc/groups/7/mdh/shared/sc2 -B /home/mdh/shared/software_modules/artic-mn/primer_schemes:/primer-schemes"
//process.stageInMode = "link"

//##################
//##Nextflow Tower##
//##################
//tower.accessToken = ''
//tower.enabled = true

//#########################
//####Docker Containers####
//#########################

artic_medaka_container = "/home/mdh/shared/software_modules/artic-mn/containers/artic-ncov2019_1.3.0-medaka-1.4.3-V4m.sif"
pangolin_container = "staphb/pangolin:latest"
seqkit_container = "/home/mdh/shared/software_modules/artic-mn/containers/garfinjm-seqkit-0.16.1.img"
vadr_container = "/home/mdh/shared/software_modules/artic-mn/containers/vadr_1.4.1-models-1.3-2.sif"

//#####################
//###Pipeline Params###
//#####################

//ARTIC Guppyplex Parameters
params.min_length = 400
params.max_length = 700

//ARTIC Medaka Pipeline Parameters
params.normalise = 200
params.medaka_model = "r941_min_hac_g507"

executor{
  name = 'slurm'
  queueSize = 1000
  submitRateLimit = '5 sec'
}

process {

  cpus = 2
  memory = '2 GB'

  withName:artic_guppyplex{
    cpus = 2
    memory = '4 GB'
    time = { task.attempt == 1 ? '5m' : '60m' }
    container = artic_medaka_container
    executor = 'local'
    maxForks = 12
  }
  withName:artic_medaka_pipeline{
    cpus = 4
    memory = '8 GB'
    time = { task.attempt == 1 ? '10m' : '60m' }
    queue = { task.attempt == 1 ? 'mdh,amdsmall,small' : 'mdh' }
    container = artic_medaka_container
  }
  withName:coverage_check{
    cpus = 1
    memory = '2 GB'
    time = '5m'
    container = seqkit_container
    executor = 'local'
  }
  withName:vadr{
    cpus = 1
    memory = '2 GB'
    time = '5m'
    executor = 'local'
    container = vadr_container
  }
  withName:pangolin_typing{
    cpus = 2
    memory = '8 GB'
    time = '5m'
    executor = 'local'
    container = pangolin_container
    maxForks = 8
  }
  withName:sample_summary{
    cpus = 2
    memory = '4 GB'
    time = '5m'
    executor = 'local'
    container = seqkit_container
  }
  withName:run_summary{
    cpus = 2
    memory = '4 GB'
    time = '5m'
    executor = 'local'
    container = seqkit_container
  }
  withName:harvest_summary{
    cpus = 2
    memory = '4 GB'
    time = '5m'
    executor = 'local'
    container = seqkit_container
  }
}